body{
    background-color: rgb(221, 255, 221);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav{
    width:300px;
    background-color: darkolivegreen;
}
ul li {
  float: left;
}
ul li a {
  display: block;
  text-align: right;
  padding: 10px 12px;
  text-decoration: none;
}